*, ::after, ::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

ul:not(.dots),ol{
	list-style: none;
}

button:active, button:focus, input[type=submit]:active, input[type=submit]:focus,
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus{
    outline: none;
}


html{
    scroll-behavior: smooth;
}

input{
	-webkit-appearance: none;
}
input, textarea{
    border: none;
}


* {
    transition: all 0.15s linear;
}


:root{
    --highlight-color: #22BB68;
    --highlight-gradient: #22BB68CC;
    --highlight-light: #E9F8F0;
    --highlight-light-transparent: #E9F8F000;
    --textcolor: #111111;
    --blue-grey: #27346A08;
    --blue-grey-transparent: #27346A00;
    --black-grey: #11111130;
    --headerheight : 80px;

    --images-shadow : 0 0 20px #00000015;
}
*::selection{
    background: var(--highlight-light);
    color: var(--highlight-color);
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background: var(--textcolor);
    border-radius: 30px;
    padding: 10px 20px;
    line-height: 30px;
}


body{
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    background: white;
    color: var(--textcolor);
    padding-top: var(--headerheight);
}


/* HEADER */
header{
    color: var(--highlight-color);
    padding: 0 0 0 30px;
    box-shadow: 0 8px 8px #00000010;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--headerheight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    background: white;
    overflow: hidden;
}

header img{
    height: 30px;
}

.header-right{
    display: flex;
    align-items: center;
}

#menu{
    display: flex;
}

#menu-title{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    transform: translate(40px,5px);
    display: none;
}

#menu-title img{
    height: 100%;
}

.menu-link a{
    line-height: 80px;
    display: inline-block;
}
.menu-link a:hover{
    opacity: 0.5;
}

.menu-link {
    font-weight: 500;
    margin-left: 36px;
    font-size: 15px;
    line-height: var(--headerheight);
}

#mobile-menu-button,#language{
    background: unset;
    padding: 0;
    width: 50px;
    height: 50px;
}

#language{
    margin-left: 30px;
    color: var(--textcolor);
    display: block;
    height: var(--headerheight);
    border-radius: unset;
    text-align: center;
    position: relative;
    padding: 10px;
    width: fit-content;
}
#language:hover{
   background: var(--highlight-light);
}

#language img{
    vertical-align: middle;
}

#language-txt{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -3px);
    font-size: 10px;
    text-transform: uppercase;
}

#mobile-menu-button{
    display: none;
    z-index: 100;
}

#mobile-menu-button:hover{
    opacity: 0.5;
}

#mobile-menu-button img{
    height: unset;
}

/* BANNER */
section{
    padding-top: 120px;
}

.banner{
    height: max(50vh, 550px);
    background: linear-gradient(var(--highlight-gradient),var(--highlight-gradient)),no-repeat url(./assets/img/banner-img-pexels-cottonbro-studio-4606336.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.banner .container{
    height: 100%;
}

.banner-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-top: 145px;
    z-index: 5;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
}

#banner-logo{
    margin-bottom: 30px;
    height: 70px;
}
h1{
    color: white;
    font-weight: 400;
    font-size: 30px;
    width: 400px;
}

.download-message{
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 500;
}


.download img{
    height: 50px;
}

.ellipsis,#banner-car, .banner-decoration{
    position: absolute;
}
.ellipsis,#banner-car{
    bottom: 0;
}
.banner-decoration{
    top: 0;
}

.ellipsis {
    width: 150%;
    height: 133%;
    clip-path: ellipse(60% 40%);
    background: white;
    transform: translate(-10%, 65%) rotate(-2deg);
}

#banner-car{
    right: 0;
    transform: translateY(-20px);
    height: 300px;
}

.banner-decoration{
    right: 0;
    width: 50%;
    max-height: 500px;
}

.download-links-container{
    display: flex;
    justify-content: center;
}

/* APP PRESENTATION */
h2{
    text-align: center;
    font-size: 44px;
    margin-bottom: 12px;
}
.subline{
    text-align: center;
    color: var(--highlight-color);
    font-size: 26px;
}
.container{
    width: 940px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

#app-presentation{
    position: relative;
    overflow: hidden;
}
#app-presentation .ellipsis{
    bottom: unset;
    transform: translateY(500px);
    background: linear-gradient(var(--blue-grey),var(--blue-grey-transparent));
    width: 150%;
    height: 100vh;
}

.user-description{
    display: flex;
    padding: 120px 0 0;
    justify-content: space-between;
    background: no-repeat url(./assets/svg/driver-decoration.svg);
    background-position: left 50px;
    flex-wrap: wrap;
}

.user-description.reverse{
    flex-direction: row-reverse;
    background: no-repeat url(./assets/svg/passenger-decoration.svg);
    background-position: right 100px top 50px;
}

.left-block{
    width: 350px;
    margin-bottom: 30px;
}

.description-block{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
}

.step{
    font-size: 20px;
    display: inline-block;
    width: 50px;
    line-height: 50px;
    height: 50px;
    background: var(--highlight-light);
    color: var(--highlight-color);
    font-weight: 700;
    margin-right: 12px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 6px;
}

h3{
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 32px;
}

.h4container{
    height: 50px;
    display: flex;
    align-items: center;
}

h4{
    font-weight: 400;
    font-size: 20px;
}

.text{
    flex: 1;
}

.description{
    opacity: 0.5;
}

.btn-icon{
    vertical-align: middle;
    margin-right: 8px;
    fill:white;
}

.signup-btn-container{
    width: 100%;
}

.signup{
    margin-left: 62px;
    box-shadow: 0 6px 8px #00000025;
}

.signup:hover{
    background: var(--textcolor);
}

.presentation-images{
    position: absolute;
    box-shadow: var(--images-shadow);
    border-radius: 20px;
    height: 450px;
    right: 0;
}
.reverse .presentation-images{
    right: unset;
}

.right-block{
    position: relative;
}

.right{
    top: 100px;
}
.middle{
    top: 50px;
    right: 150px;
}

.left{
    right: 300px;
}

.reverse .middle{
    left: 150px;
}

.reverse .right{
    left: 300px;
}

/* PERKS */
.perks-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.perks-headline{
    font-size: 32px;
    width: fit-content;
    margin: 0 auto 42px;
    position: relative;
    display: flex;
}

.youmoovcan{
    height: 45px;
    margin: 0 16px;
}

.perks-headline::before,
.perks-headline::after{
    position: absolute;
    top: 50%;
}
.perks-headline::before{
    content: 'Avec';
    left: 0;
    transform: translate(-100%, -75%);
}
.perks-headline::after{
    content: 'vous pouvez';
    right: 0;
    transform: translate(100%, -75%);
}
.perks-headline.en::before{
    content: 'With';
}
.perks-headline.en::after{
    content: 'you can';
}
.perks-headline.pt::before{
    content: 'Com';
}
.perks-headline.pt::after{
    content: 'você pode';
}

.perk{
    display: flex;
    width: 275px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--highlight-light), var(--highlight-light-transparent));
    border-radius: 20px;
    margin: 0 15px 50px;
    padding: 24px;
}
.perk img{
    margin-bottom: 10px;
    height: 60px;
}

.perk p {
    text-align: center;
}

.download-links{
    text-align: center;
}

#perks .download-message{
    color: var(--highlight-color);
    font-size: 25px;
}

/* ONBOARDING */

#onboarding{
    text-align: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#D4F7E4CC,white), no-repeat url(./assets/img/onboarding-img-pexels-andrea-piacquadio-3758114.jpg);
    background-size: cover;
}

#onboarding .mask{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-1px);
    width: 100%;
}

#onboarding h2{
    margin-bottom: 80px;
}
#onboarding h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
}

.onboading-process:first-of-type{
    margin-bottom: 120px;
}

.onboading-process h4{
    margin: 0 auto 50px;
    font-size: 16px;
    max-width: 600px;
}

.onboarding-screen{
    height: 450px;
    margin: 0 10px 50px;
    box-shadow: var(--images-shadow);
    border-radius: 20px;
}
.onboading-process .signup{
    margin-left: 0;
    background: var(--textcolor);
}

/* TRANSACTIONS */

.transactions-content{
    border-radius: 20px;
    background: var(--highlight-light);
    padding: 30px;
}

.transactions-headline{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 80px;

}

.transactions-headline img{
    height: 40px;
    margin-right: 16px;
    padding-top: 8px;
}

.transactions-methods,
.transactions-method{
    display: flex;
}
.transactions-methods{
    flex-wrap: wrap;
}

.transactions-methods{
    justify-content: center;
}
.transactions-method{
    flex-direction: column;
    align-items: center;
    margin: 0 50px 30px;
}

.transactions-method span{
    opacity: 0.5;
    margin-top: 12px;
}

/* PARTNERS */

#partners{
    text-align: center;
    background-size: cover;
    background-position: center;
}

#partners img{
    height: 300px;
    margin: 80px 30px;
}

/* CONTACT */

#contact{
    background: linear-gradient(white 0 70px, var(--blue-grey) 70px);
    padding-bottom: 50px;
}

.contact-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#contact h2{
    text-align: unset;
    margin-bottom: 24px;
}

.contact-text{
    max-width: 400px;
}

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-top: 75px;
}

input{
    height: 50px;
    width: 100%;
}
input, textarea{
    background: none;
    border: 1px solid var(--black-grey);
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    caret-color: var(--highlight-color);
    font-family: 'Fredoka', sans-serif;
}
textarea{
    width: 100%;
    margin-bottom: 20px;
    padding-top: 16px;  
    
}
#contact-form button{
    width: 300px;
}

.input-row{
    display: flex;
    column-gap: 10px;
    width: 100%;
}
.input-box{
    position: relative;
    width: 100%;
}
.input-box.message{
    width: 100%;
}

label{
    position: absolute;
    top: 2px;
    left: 5px;
    opacity: 0.5;
    font-size: 11px;
    user-select: none;
}

.feedback-block.success {
    color: var(--highlight-color);
    text-align: center;
    padding: 20px;
    background: var(--highlight-light);
    border-radius: 10px;
    width: 400px;
    opacity: 0;
}
/* FOOTER */
footer{
    background: var(--textcolor);
    color: white;
    fill: white;
    padding: 50px 0 80px;
    position: relative;
}

.footer-left{
    width: 300px;
}
.footer-left p{
    opacity: 0.5;
    font-weight: 300;
    font-size: 15px;
}

.footer-left img{
    height: 35px;
    margin-bottom: 30px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-right{
    display: flex;
}

.footer-links{
    margin-left: 100px;
}
.footer-links h2{
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    text-align: unset;
    margin-bottom: 24px;
}

.footer-link{
    cursor: pointer;
    font-weight: 300;
    line-height: 34px;
    font-size: 14px;
}

.footer-link a{
    display: inline-block;
    height: 100%;
}
.footer-link svg{    
    fill: white;
}
.footer-link:hover{
    color: var(--highlight-color);
}
.footer-link:hover svg{    
    fill: var(--highlight-color);
}

.sn-icon{
    vertical-align: middle;
    margin-right: 8px;
}
small{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    font-size: 11px;
    text-align: center;
    width: 100%;
}


/* MODALS */
.modal{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #000000AA;
    padding: 100px 0;    
    display: none;
    z-index: 150;
}

.modal-content{
    position: unset;
    background: white;
    color: var(--textcolor);
    border-radius: 10px;
    padding: 50px;
    height: 100%;
    transform: translateY(-200px);
    opacity: 0;
    transition: all 0.25s ease-in;    
}

.modal-content-container{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content-container::-webkit-scrollbar{
    width: 10px;
}
.modal-content-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
   
.modal-content-container::-webkit-scrollbar-thumb {
    background: var(--highlight-color);
    border-radius: 10px;
}


.close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: var(--highlight-color);
    font-size: 30px;
    padding: 0;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal h3{
    text-align: center;
}

.modal.poppedUp{
    display: block;

}
.modal-content.displayed{
    transform: translateY(0);
    opacity: 1;
}


/* LANGUAGES */
#language-modal .modal-content{
    width: 300px;
    height: fit-content;
    margin: 0 auto;
}

#language-modal h3{
    margin-bottom: 50px;
}

#language-modal li{
    height:50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}
#language-modal li:hover{
    background: var(--highlight-light);
}

#language-modal ul{
    width: 150px;
    margin: 0 auto;
}

.flag{
    vertical-align: middle;
    margin-right: 8px;
}

/* CONFIRM */

.feedback-block strong{
    font-size: 26px;
    line-height: 50px;
}

@media screen and (max-width:1200px){
    /* BANNER */
    .banner-content{
        padding-left: 50px;
    }
    #banner-logo{
        height: 60px;
    }

    #banner-car{
        height: 280px;
    }

    /* ONBOARDING */

    #onboarding .mask{
        width: 120%;
    }

}
@media screen and (max-width:1024px){
    :root{
        --headerheight : 60px;
    }

    /* HEADER */

    #language-txt{
        transform: translate(-50%, 0);
        line-height: 20px;
        font-size: 9px;
    }

    #mobile-menu-button{
        display: unset;
    }

    #menu{
        flex-direction: column;
        position: fixed;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 240px;
        padding: 100px 0;
        background: var(--highlight-light);
        box-shadow: -4px 0 4px #11111115;
        z-index: 70;
        transform: translateX(105%);
    }

    #menu-title{
        display: block;
    }

    .menu-link{
        margin: 0;
        padding-left: 40px;
        height: 50px;
        color: var(--textcolor);
        font-weight: 400;
    }

    /* BANNER */
    .container{
        width: 700px;
    }

    .banner-content{
        padding-left: unset;
    }

    #banner-car{
        height: 250px;
    }

    h1{
        font-size: 24px;
    }

    /* PRESENTATION */
    .user-description,
    .user-description.reverse{
        flex-direction: column;
    }
    .left-block{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 30px;
    }

    .right-block{
        text-align: center;
    }

    .presentation-images{
        position: unset;
        margin: 0 10px 42px;
    }

    .signup-btn-container{
        text-align: center;
    }
    .signup{
        margin-left: 0;
    }

    /* ONBOARDING */
    #onboarding .mask{
        width: 150%;
    }

    /* TRANSACTIONS */
    
    .transactions-headline{
        flex-direction: column;
        text-align: center;
    }

    .transactions-headline img{
        margin-bottom: 12px;
    }

    /* PARTNERS */
    #partners img{
        height: 250px;
        margin: 80px 20px;
    }

    /* CONTACT */
    .contact-content{
        justify-content: center;
    }

    #contact h2{
        text-align: center;
    }

    .errorMessage{
        color: red;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .errorField{
        border: 1px solid red;
    }

    input:invalid{
        border: 1px solid red;
    }



    /* FOOTER */
    .footer-left{
        margin-bottom: 80px;
    }
    .footer-right{
        width: 100%;
    }

    .footer-links{
        margin: 0 16vw 0 0;
    }
    .footer-link{
        height: 40px;
    }

}

@media screen and (max-width:850px){
    footer{
        padding-left: 50px;
    }
}

@media screen and (max-width:768px){

    h2{
        font-size: 32px;
    }
    h3{
        font-size: 26px;
    }

    /* BANNER */
    .container{
        width: 500px;
    }
    .banner-decoration{
        display: none;
    }
    .banner-content{
        align-items: center;
        width: unset;
    }
    .banner{
        height: auto;
    }
    h1{
        text-align: center;
        margin-bottom: 200px;
    }
    #banner-car{
        transform: translateY(-50px);
    }

    .download-message{
        text-align: center;
    }
    /* PRESENTATION */
    .user-description{
        background-size: contain;
    }

    .user-description.reverse{
        background-position: unset;
    }

    /* ONBOARDING */
    #onboarding .mask{
        width: 200%;
    }

    /* PERKS */
    .youmoovcan{
        height: 30px;
    }
    .perks-headline{
        font-size: 24px;
    }

    .perk{
        background: var(--highlight-light);
    }

    /* TRANSACTIONS */
    .transactions-headline img{
        margin-bottom: 12px;
    }
    .transactions-headline{
        font-size: 24px;
    }

    .transactions-method img{
        height: 40px;
    }

    /* PARTNERS */
    #partners img{
        height: 200px;
    }


    /* FOOTER */
    footer{
        padding-left: 0;
        padding-bottom: 50px;
    }

    .footer-right{
        flex-direction: column;
    }
    .footer-links{
        margin: 0 0 80px;
    }
}
@media screen and (max-width:575px){
    /* HEADER */
    header >img{
        height: 26px;
    }
    header{
        padding-left: 10px;
    }
    
    /* BANNER */
    .container{
        width: max(300px, 80%);
    }
    #banner-logo{
        height: unset;
        width: 100%;
    }

    h1{
        width: unset;
        font-size: 20px;
    }
    #banner-car{
        transform: translateY(-80px);
        height: 230px;
    }

    /* PERKS */
    .perks-headline::before,
    .perks-headline::after{
        top: 0;
        left: 50%;
        text-align: center;
    }
    .perks-headline::before{
        transform: translate(-50%, -120%);
    }
    .perks-headline::after{
        transform: translate(-50%, 100%);
        width: 100%;
    }

    /* ONBOARDING */
    #onboarding .mask{
        width: 330%;
    }

    /* TRANSACTIONS */
    .transactions-headline{
        margin-bottom: 50px;
    }

    /* PARTNERS */
    #partners img{
        height: 150px;
    }


    /* MODALS */
    .modal-content-container::-webkit-scrollbar{
        display: none;
    }
}
@media screen and (max-width:500px){
    /* TRANSACTIONS */
    .transactions-headline{
        font-size: 20px;
    }

    .transactions-method{
        margin-bottom: 40px;
    }

    /* CONTACT */
    .input-row{
        flex-direction: column;
    }
    .input-row, .input-box, input{
        width: 100%;
    }
    .feedback-block.success{
        width: 90%;
        font-size: 13px;
    }
    .feedback-block strong{
        font-size: 20px;
    }

    /* PARTNERS */
    #partners img{
        height: 120px;
    }
}


/* TOGGLE MENU */
#menu.slideIn{
    transform: translateX(0);
}

/* LANGUAGES */
.dn{
    display: none;
}

.feedback-block.success.oo{
    opacity: 1;
}

